@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(5, 8, 22, 0.932);
  font-family: 'Josefin Sans', sans-serif;
}

main {
  max-width: 750px;
  width: 90%;
  background-color: rgb(65, 150, 230);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(65, 150, 230);
  padding: 30px;
}

#title {
  font-size: 45px;
  letter-spacing: 7px;
  padding-top: 10px;
  color: white;
  background-color: transparent;
  user-select: none;
}

#toggleTheme {
  margin-left: auto;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
}

#tasks {
  color: white;
  background: linear-gradient(to top right, rgb(82, 165, 241) 10%, rgb(71, 152, 228));
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 35px;
  height: fit-content;
}

@media only screen and (max-width: 400px) {
  main {
    width: 100%;
  }
}