@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: rgba(5, 8, 22, 0.932);
  transition: 0.2s background-color linear;
}

main {
  max-width: 800px;
  width: 90%;
  background-color: rgb(128, 39, 212);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(128, 39, 212);
  padding: 30px;
}

#title {
  font-size: 45px;
  letter-spacing: 7px;
  padding-top: 10px;
  color: white;
  background-color: transparent;
  user-select: none;
}

#toggleTheme {
  margin-left: auto;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
}

.lightTheme {
  background-color: white!important;
}

.lightThemeText {
  color: rgb(42, 45, 75) !important;
}

#tasks {
  color: white;
  background: linear-gradient(to top right, rgb(132, 50, 209), rgb(134, 32, 230));
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 35px;
  height: fit-content;
  border-radius: 15px;
}

@media only screen and (max-width: 400px) {
  main {
    width: 100%;
  }
}