* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jobList {
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.274);
    border: 1px solid hsl(236, 24%, 11%);
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#job {
    border-bottom: 1px solid hsl(237, 14%, 26%);
}

#activeColour, #completedColour {
    background-color: rgb(255, 126, 51);
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    cursor: auto;
}

#inner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2.5px;
    margin-top: 3px;
    background-color: hsl(235, 24%, 19%);
}

#completedColour {
    background-color: rgb(23, 255, 23);
}

#numTasks {
    color: rgb(182, 182, 182);
}

.ticked {
    background-image: url('../images/icon-check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(60, 143, 221) !important;
}

.unticked {
    width: 32px;
    height: 30px;
    border-radius: 50%;
    background: hsl(237, 14%, 26%);
}

.unticked:hover {
    background: rgb(60, 143, 221);
}

.jobInfo * {
    color: hsl(236, 33%, 92%);
    background-color: transparent;
    font-size: 1.1rem;
}

.listItem {
    background-color: hsl(234, 19%, 21%);
    padding: 25px;
    display: flex;
    align-items: center;
}

.jobInfo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    gap: 20px;
}

.jobInfo p {
    padding-top: 2px;
}

#completionDate {
    margin-left: auto;
}

#removeTask {
    margin-left: 20px;
    width: 30px;
    cursor: pointer;
}

.view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 25px;
    color: white;
    background-color: hsl(234, 19%, 21%);
    user-select: none;
    font-size: 1.1rem;
    transition: 0.2s background-color linear;
}

.selected {
    background-color: rgb(60, 143, 221) !important;
}

.lightModeView {
    background-color: rgb(60, 143, 221) !important;
    border: 1px solid rgb(60, 143, 221) !important;
}

.lightModeView:hover {
    background-color: rgb(86, 156, 221) !important;
    border: 1px solid rgb(86, 156, 221) !important;
}

.filters ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

.filters ul li:hover {
    cursor: pointer;
}

#clearCompleted {
    background-color: hsl(128, 48%, 43%);
    padding: 4px 7px 2px 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    border: 1px solid hsl(128, 48%, 43%);
    transition: 0.1s all linear;
    width: 155px;
}

#clearCompleted:hover {
    border: 1px solid hsl(128, 44%, 48%);
    background-color: hsl(128, 44%, 48%);
}

#clearCompleted:active {
    background-color: hsl(128, 48%, 43%);
    border: 1px solid hsl(128, 48%, 43%);
}

.view * {
    background-color: transparent;
}

#allFilter, #activeFilter, #completedFilter {
    background-color: transparent;
    border: 1px solid white;
    padding: 4px 7px 2px 7px;
    border-radius: 5px;
    text-align: center;
    transition: 0.1s all linear;
}

#allFilter:hover, #activeFilter:hover, #completedFilter:hover {
    background-color: rgb(60, 143, 221);
}

#edit {
    border: none;
    background-color: rgb(60, 143, 221);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    padding-top: 3px;
    cursor: pointer;
    transition: 0.1s background-color linear;
}

#edit:hover {
    background-color: rgb(76, 166, 250);
}

#deleteTasks {
    background-color: hsl(9, 88%, 60%);
    padding: 4px 7px 2px 7px;
    width: 155px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    border: 1px solid hsl(9, 88%, 60%);
    transition: 0.1s all linear;
}

#deleteTasks:hover {
    border: 1px solid hsl(9, 80%, 61%);
    background-color: hsl(9, 80%, 61%);
}

#deleteTasks:active {
    background-color: hsl(9, 86%, 58%);
    border: 1px solid hsl(9, 86%, 58%);
}

@media only screen and (max-width: 900px) {
    .view {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}